<div id="sidebar">
    <div class="sidebar__title">
      <div class="sidebar__img">
        <img src="/img/image.jpeg" width="15px" height="15px" class="rounded-full" alt="logo" />
        <h1>DrugGuard</h1>
      </div>
      <i
        class="closeSidebar fa fa-times"
        id="sidebarIcon"
        aria-hidden="true"
      ></i>
    </div>

    <div class="sidebar__menu">
      <div class="sidebar__link active_menu_link">
        <i class="fa fa-home"></i>
        <a href="#">Dashboard</a>
      </div>
      <h2>Features</h2>
      <div class="sidebar__link">
        <i class="fa fa-wrench"></i>
        <a href="/manufacturer/accounts">Employee Management</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-archive"></i>
        <a href="#">Depots</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-handshake-o"></i>
        <a href="#">Contracts</a>
      </div>
      <h2>LEAVE</h2>
      <div class="sidebar__link">
        <i class="fa fa-question"></i>
        <a href="#">Requests</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-sign-out"></i>
        <a href="#">Leave Policy</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-calendar-check-o"></i>
        <a href="#">Special Days</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-files-o"></i>
        <a href="#">Apply for leave</a>
      </div>
      <h2>PAYROLL</h2>
      <div class="sidebar__link">
        <i class="fa fa-money"></i>
        <a href="#">Payroll</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-briefcase"></i>
        <a href="#">Paygrade</a>
      </div>
      <div class="sidebar__logout">
        <i class="fa fa-power-off"></i>
        <a href="#">Log out</a>
      </div>
    </div>
  </div>