<div id="sidebar">
    <div class="sidebar__title">
      <div class="sidebar__img">
        <a href="/manufacturer/home"><img height="100px" width="200px" src="/img/L15.png" alt="Logo2"></a>   
      </div>
      <i
        class="closeSidebar fa fa-times"
        id="sidebarIcon"
        aria-hidden="true"
      ></i>
    </div>

    <div class="sidebar__menu">
      <div class="sidebar__link active_menu_link">
        <i class="fa fa-home"></i>
        <a href="/manufacturer/home">Home</a>
      </div>
      <h2>Features</h2>
      <div class="sidebar__link">
        <i class="fa fa-wrench"></i>
        <a href="/manufacturer/accounts">Employee Management</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-qrcode"></i>
        <a href="/manufacturer/generatekey">QR Code</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-sort"></i>
        <a href="/manufacturer/orders">Orders</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-store"></i>
        <a href="/manufacturer/drop">Drop</a>
      </div>
      <h2>Manufactured Drugs</h2>
      <div class="sidebar__link">
        <i class="fas fa-tablets"></i>
        <a href="/manufacturer/drugs">Drugs</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-boxes"></i>
        <a href="/manufacturer/drugstorage">Drugs Storage</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-prescription-bottle-alt"></i>
        <a href="/manufacturer/production/control">Production</a>
      </div>
      <h2>Checks</h2>
      <div class="sidebar__link">
        <i class="fa fa-question"></i>
        <a href="/manufacturer/requests">Requests</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-calendar-check-o"></i>
        <a href="#">Special Days</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-handshake-o"></i>
        <a href="/manufacturer/transaction">Transactions</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-qrcode"></i>
        <a href="/manufacturer/qrcode/info">QR Code Info</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-clipboard-list"></i>
        <a href="/manufacturer/orders/completed">Completed Orders</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-files-o"></i>
        <a href="#">Apply for leave</a>
      </div>
      <h2>Others</h2>
      <div class="sidebar__logout">
        <i class="fa fa-power-off"></i>
        <form id="logout" action="/logout" method="POST">
         <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
      </form>
      </div>
    </div>
  </div>