<div id="sidebar">
    <div class="sidebar__title">
      <div class="sidebar__img">
        <img src="/img/salma.jpg" width="15px" height="15px" class="rounded-full" alt="logo" />
        <h1>DrugGuard</h1>
      </div>
      <i
        class="closeSidebar fa fa-times"
        id="sidebarIcon"
        aria-hidden="true"
      ></i>
    </div>

    <div class="sidebar__menu">
      <div class="sidebar__link active_menu_link">
        <i class="fa fa-home"></i>
        <a href="/manufacturer/home">Home</a>
      </div>
      <h2>Features</h2>
      <div class="sidebar__link">
        <i class="fa fa-wrench"></i>
        <a href="/manufacturer/accounts">Employee Management</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-key"></i>
        <a href="/manufacturer/generatekey">Keys</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-sort"></i>
        <a href="/manufacturer/orders">Orders</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-handshake-o"></i>
        <a href="/manufacturer/transaction">Contracts</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-store"></i>
        <a href="/manufacturer/drop">Drop</a>
      </div>
      <h2>Checks</h2>
      <div class="sidebar__link">
        <i class="fa fa-question"></i>
        <a href="/manufacturer/requests">Requests</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-registered"></i>
        <a href="#">Registered</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-calendar-check-o"></i>
        <a href="#">Special Days</a>
      </div>
      <div class="sidebar__link">
        <i class="fas fa-tablets"></i>
        <a href="/manufacturer/drugs">Drugs</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-files-o"></i>
        <a href="#">Apply for leave</a>
      </div>
      <h2>PAYROLL</h2>
      <div class="sidebar__link">
        <i class="fa fa-money"></i>
        <a href="#">Payroll</a>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-briefcase"></i>
        <a href="#">Paygrade</a>
      </div>
      <div class="sidebar__logout">
        <i class="fa fa-power-off"></i>
        <form id="logout" action="/logout" method="POST">
         <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
      </form>
      </div>
    </div>
  </div>