<%- include('../_layouts/header3.ejs') %>
<%- include('../toast.ejs') %>

<section class="tutorials">
  <div class="containerHomeMan">
   <%- include('../_layouts/head.ejs') %>
  
    <div class="ml-10 accountsCon mt-10">
        <div class="flex items-center justify-between">
            <h1 class="font-bold md:text-xl mb-4">Completed Orders (from DB)</h1>
            <a href="/manufacturer/orders/completed/blockchain"><h6 class="bg-white py-1 rounded-full px-4 text-green-700 text-l mb-4">Completed Orders (from Blockchain DB)</h6></a>
        </div>
        <div class="transactionTable">
        <table class="adminT table">
            <thead class="thead-dark">
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Name</th>
                    <th class="px-4 py-2 text-left">Contact</th>
                    <th class="px-4 py-2 text-left">Email</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">DAR</th>
                    <th class="px-4 py-2 text-left">Placed Date</th>
                    <th class="px-4 py-2 text-left">Placed Time</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>            
            <tbody id="orderTOShowCompleted">
                
            </tbody>
           
        </table>
        </div>
    </div>

 

  <%- include('../_layouts/sidebar.ejs') %>
</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>



 
