<%- include('../_layouts/header3.ejs') %>
<%- include('../toast.ejs') %>

<section class="tutorials">
  <div class="containerHomeMan">
   <%- include('../_layouts/head.ejs') %>
  <div class="homeMan">
    <div class="HomeMan__container">
      <!-- MAIN TITLE STARTS HERE -->
   
      <div class="HomeMan__title">
        <div class="main__greeting">
          <h1>Hello Muhtasim</h1>
          <p>Welcome to your Manufacturer dashboard</p>
        </div>
      </div>

      <!-- MAIN TITLE ENDS HERE -->

      <!-- MAIN CARDS STARTS HERE -->
      <div class="main__cards">
        <div class="HomeMan_card">
          <i
            class="fa fa-user-o fa-2x text-lightblue"
            aria-hidden="true"
          ></i>
          <div class="card_inner">
            <p class="text-primary-p">Number of Employees</p>
            <span class="font-bold text-title">578</span>
          </div>
        </div>

        <div class="HomeMan_card">
          <i class="fa fa-calendar fa-2x text-red" aria-hidden="true"></i>
          <div class="card_inner">
            <p class="text-primary-p">Times of Watching</p>
            <span class="font-bold text-title">2467</span>
          </div>
        </div>

        <div class="HomeMan_card">
          <i
            class="fa fa-video-camera fa-2x text-yellow"
            aria-hidden="true"
          ></i>
          <div class="card_inner">
            <p class="text-primary-p">Number of Videos</p>
            <span class="font-bold text-title">340</span>
          </div>
        </div>

        <div class="HomeMan_card">
          <i
            class="fa fa-thumbs-up fa-2x text-green"
            aria-hidden="true"
          ></i>
          <div class="card_inner">
            <p class="text-primary-p">Number of Likes</p>
            <span class="font-bold text-title">645</span>
          </div>
        </div>
      </div>
      <!-- MAIN CARDS ENDS HERE -->

      <!-- CHARTS STARTS HERE -->
      <div class="charts">
        <div class="charts__left">
          <div class="charts__left__title">
            <div>
              <h1>Daily Reports</h1>
              <p>DrugGuard, ULAB, Dhaka</p>
            </div>
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <div id="apex1"></div>
        </div>

        <div class="charts__right">
          <div class="charts__right__title">
            <div>
              <h1>Stats Reports</h1>
              <p>DrugGuard, ULAB, Dhaka</p>
            </div>
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>

          <div class="charts__right__cards">
            <div class="card1">
              <h1>Income</h1>
              <p>$75,300</p>
            </div>

            <div class="card2">
              <h1>Sales</h1>
              <p>$124,200</p>
            </div>

            <div class="card3">
              <h1>Users</h1>
              <p>3900</p>
            </div>

            <div class="card4">
              <h1>Orders</h1>
              <p>1881</p>
            </div>
          </div>
        </div>
      </div>
      <!-- CHARTS ENDS HERE -->
    </div>
  </div>
  <%- include('../_layouts/sidebar.ejs') %>
</div>
</section>


  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>



 
