<%- include('../_layouts/header3.ejs') %>
<%- include('../toast.ejs') %>

<section class="tutorials">
  <div class="containerHomeMan">
   <%- include('../_layouts/head.ejs') %>
   <section class="ml-10 orders light-section">
    <div class="container09 mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <table class="adminT table">
            <thead class="thead-dark">
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Name</th>
                    <th class="px-4 py-2 text-left">Contact</th>
                    <th class="px-4 py-2 text-left">Email</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">Placed At</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody"></tbody>
        </table>
    </div>

  </section>

  <%- include('../_layouts/sidebar.ejs') %>
</div>
</section>


  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>



 
