//--------- Colors -----------
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;


$red: #ff3838;
$white: #ffffff;
$black: #000000;

$red-one: #CB356B;
$red-two: #BD3F32;

$green-one: #56ab2f;
$green-two: #94d045;

$black-one: #232526;
$black-two: #707676;

$blue-one: #021B79;
$blue-two: #0575E6;

$silver: #bdc3c7;


$new: #f03250;
$new2: #f0544f;
$new3: #2c2a4a;
$new4: #a1e44d;
$new5: #00a7ea;


//------Admin Panel
$mainColor: #DD2F6E;
$colorDark: #1D2231;
$textGray: #8390A2; 

//-------Admin Accounts
$dark: #2b2d42;
$light: #adb5bd;
$border: #dee2e6;
$borderBtn: #edf2f4;


//-------- transition ------- 
$smooth: all .3s ease-in-out;
$second-smooth: all 1s ease-in-out;