<td><img class="rounded-full" src="/img/image.jpeg" height="40px" width="40px" alt=""></td>
<td>1</td>
<td>Ornab</td>
<td>muhtasim@gmail.com</td>
<td>Depot Incharge</td>
<td>Mirpur</td>
<td>key</td>
<td>key</td>
<td><a href="update_user" class="btn border-shadow update">
 <span class="text-gradient"><i class="fas fa-user-edit"></i></span>
 </a>
 <a class="btn border-shadow update">
     <span class="text-gradient"><i class="fas fa-times"></i></span>
 </a></td>

 