<%- include('../_layouts/header.ejs') %>
<%- include('../toast.ejs') %>

<section >
    <div class="container mx-auto pt-12">
        <div class="flex items-center justify-between mb-8">
            <h1 class="font-bold text-lg mb-4">Orders of Pharmacist</h1>
            <a href="/api/drug/depot/orders/completed"><h6 class="bg-white py-1 rounded-full px-4 text-green-700 text-l">Show Completed Orders</h6></a>
        </div>
     <section class="transactionTable">
        <table class="customerT mx-auto table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Name</th>
                    <th class="px-4 py-2 text-left">Contact</th>
                    <th class="px-4 py-2 text-left">Email</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">DAR</th>
                    <th class="px-4 py-2 text-left">Placed Date</th>
                    <th class="px-4 py-2 text-left">Placed Time</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
            <tbody id="myOrderTableBody"></tbody>
        </table>
     </section>
        
    </div>

</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>