<%- include('../_layouts/header.ejs') %>
<%- include('../toast.ejs') %>

<section class="transactionTable">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">Orders of Pharmacist</h1>
        <table class="customerT mx-auto table-auto bg-white mt-10">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Name</th>
                    <th class="px-4 py-2 text-left">Contact</th>
                    <th class="px-4 py-2 text-left">Email</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">Placed Date</th>
                    <th class="px-4 py-2 text-left">Placed Time</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
            <tbody id="myOrderTableBody"></tbody>
        </table>
    </div>

</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>