

    
    <tr> 
        <td>1</td>
        <td><img class="rounded-full" src="/img/drug7.jpg" height="40px" width="40px" alt=""></td>
        <td>02992201929sncn</td>
        <td>9348478073sdnndsn</td>
        <td>diabetes</td>
        <td>2</td>
        <td>7719-099-222</td>
        <td>988-2098-2999</td>
        <td><a href="/manufacturer/update_drugstorage?id=2972747" class="btn border-shadow update">
         <span class="text-gradient"><i class="fas fa-user-edit"></i></span>
         </a>
         <a class="btn border-shadow delete">
             <span class="text-gradient"><i class="fas fa-times"></i></span>
         </a></td>
    </tr>
       
    